{% extends 'base.html'%}

{% block title %} Welcome To Boggle Game {% endblock %}

{% block content%}
<div class="modal fade bd-example-modal-lg" role="dialog" id="welcome_window" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header d-block">
            <h5 class="modal-title text-center"><img src="/static/images/boggle.png" alt="" style="width: 200px"></h5>
        </div>
        <div class="modal-body d-block">
            <h5 class="modal-title text-center">Choose Your Game:</h5>
        </div>
        <div class="modal-footer">
          {% for i in range(4,7)%}
            <a href="/{{i}}"><button type="button" class="btn btn-warning">{{i~'X'~i~'Game'}}</button></a>
          {% endfor %}
        </div>
      </div>
    </div>
</div>

{% endblock %}

{%block script%} 
<script>
    $('#welcome_window').modal('show');
</script>
{%endblock%}
